.container{
	width:70%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}

h1,
h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: .25rem;
	text-align:center;
}

img
{
	display:block;
	margin:auto;
}

.aboutMe,
.quotes{	
    display: block;
	margin: auto;
	width: 45%;
}

.quotes{
    margin-bottom: 5px;
}


